@import "../../styles/_variables.scss";
.Header {
  // @include variable(background, --overlay, #000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  .appTitle {
    span {
      position: absolute;
      transform: rotate(-90deg);
      left: 0px;
      transform-origin: left top;
      top: 3rem;
      padding: 0;
      width: 3rem;
      text-align: left;
      font-weight: bold;
      color: var(--textColor);
      font-size: 0.75rem;
      margin-top: 1rem;
      margin-left: 0.5rem;
      position: fixed;
    }
  }
  .uiToggle {
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    outline: none;
    position: fixed;
    left: -18px;
    top: calc(100% - 46px);
    transform: rotate(-90deg);
    padding: 0.25rem 0.5rem;
    /* background: #eee; */
    border-radius: 0;
    border-width: 0;
    background: transparent;
    border-right: 2px solid var(--textColor);
    z-index: 99;
    .uiControls {
      display: none;
      opacity: 0;
    }
    @media (hover: hover) {
      &:hover {
        @include variable(background, --textColor, orange);
        @include variable(color, --backgroundColor, orange);
        cursor: pointer;
        svg path {
          @include variable(fill, --backgroundColor, orange);
        }
        .uiControls {
          display: flex;
          opacity: 1;
          transform: rotate(90deg) translateX(0rem);
        }
      }
    }
  }
  .uiControls {
    @include variable(background, --themeColor, orange);
    // color: var(--textColor);
    transform: rotate(90deg) translateX(-0.5rem);
    transform-origin: left bottom;
    // transition: transform .3s ease-in-out, opacity .3s ease;
    // opacity: 0;
    padding: 1rem;
    bottom: 0;
    left: 0;
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .themePanel {
      padding: 0.5rem;
      > button {
        width: 100%;
        margin-top: 0.5rem;
      }
    }
  }
}
