@import "../../styles/_variables.scss";
.Header{
  // @include variable(background, --overlay, #000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25rem .5rem;
  .appTitle{
    span{
      position: absolute;
      transform: rotate(-90deg);
      left: 0px;
      transform-origin: left top;
      top: 3rem;
      padding: 0;
      width: 3rem;
      text-align: left;
      font-weight: bold;
      color: var(--textColor);
      font-size: 0.75rem;
      margin-top: .25rem;
      margin-left: .25rem;
    }
  }
}