.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 1px;
  &:first-child {
    margin-left: 0;
    .inputRangeWrap {
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  &:last-child {
    .inputRangeWrap {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
  input,
  label {
    margin: 0 auto;
  }
  label {
    text-align: center;
  }
  legend {
    width: 100%;
    position: relative;
    top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .inputNumberWrap {
    display: flex;
    margin: 0.5rem auto;

    input {
      display: block;
      background: var(--textColor);
      color: var(--themeColor);
      border: none;
      box-shadow: none;
      padding: 0.25rem 0rem 0.25rem 0.5rem;
      font-weight: bold;
      outline: none;
      border-radius: 0.25rem;
      text-align: center;
      max-width: 3rem;
    }
  }
  .inputRangeWrap {
    background: var(--textColor);
    // background: var(--themeColor-strongest);
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
    input {
      margin: 0.5rem auto;
    }
    label {
      font-size: 0.75rem;
      color: var(--themeColor-weakest);
    }
  }
}

/*overrides defaults*/
input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-webkit-slider-thumb {
  // -webkit-appearance: none;
}

$thumbBorder: 0px solid white;
$thumbShadow: 0 1px 2px -0px rgba(0, 0, 0, 0.2);
// $thumbBackground: var(--themeColor-strongest);
$thumbBackground: var(--textColor);
$thumbBackgroundAlt: var(--themeColor);
$thumbBackgroundVertical: var(--themeColor-stronger);
// $thumbBackground: linear-gradient(to right, var(--themeColor-strongest) 45%, var(--themeColor-stronger) 47.5%, var(--textColor) 52.5%, var(--themeColor-strongest) 55%);
$thumbBorderRadius: 1rem;

$trackShortSide: 8px;
$trackLongSide: 100%;
$trackLongSideVertical: 180px;
$thumbDiameter: 1rem;
$trackShadow: none;
$trackBackground: var(--themeColor-weakest);
$trackBackgroundVertical: var(--backgroundColor);
$trackRadius: 2px;
$trackBorder: 0px solid black;

input[type="range"] {
  height: $thumbDiameter * 2;
  width: $trackLongSide;
  -webkit-appearance: none;
  background: transparent;
  // margin: 1rem 0;
  // width: 100%;
}
input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: $trackShortSide;
  height: $trackLongSideVertical;
  // padding: 0 5px;
  background: transparent;
  outline: none;
  // -webkit-appearance: none;
  // /*-webkit-appearance: slider-vertical; /*if we remove this slider-vertical then horizondally range bar styles applies correctly*/
  // transform: translateY(30px) rotate(90deg);
  // transform-origin:bottom;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: $trackShortSide;
  width: $trackLongSide;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: $trackShadow;
  background: $trackBackground;
  border-radius: $trackRadius;
  border: $trackBorder;
}
input[type="range"][orient="vertical"]::-webkit-slider-runnable-track {
  width: $trackShortSide;
  height: $trackLongSideVertical;
  background: $trackBackgroundVertical;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: $thumbShadow;
  border: $thumbBorder;
  height: $thumbDiameter;
  width: $thumbDiameter * 2;
  border-radius: $thumbBorderRadius;
  background: $thumbBackground;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -($thumbDiameter / 4);
}

input[type="range"][orient="vertical"]::-webkit-slider-thumb {
  // margin-left: -($thumbDiameter / 4);
  transform: translateX(-0.25rem) translateY(0.5rem);
  width: $thumbDiameter;
  height: $thumbDiameter * 2;
  background: $thumbBackgroundVertical;
}
.controls input[type="range"]::-webkit-slider-thumb,
.controls input[type="range"][orient="vertical"]::-webkit-slider-thumb {
  background: $thumbBackgroundAlt;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $trackBackground;
}
input[type="range"]::-moz-range-track {
  height: $trackShortSide;
  width: $trackLongSide;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: $trackShadow;
  background: $trackBackground;
  border-radius: $trackRadius;
  border: $trackBorder;
}
input[type="range"][orient="vertical"]::-moz-range-track {
  width: $trackShortSide;
  height: $trackLongSideVertical;
  background: $trackBackgroundVertical;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: $thumbShadow;
  border: $thumbBorder;
  height: $thumbDiameter;
  width: $thumbDiameter * 2;
  border-radius: $thumbBorderRadius;
  background: $thumbBackground;
  cursor: pointer;
}
input[type="range"][orient="vertical"]::-moz-range-thumb {
  background: $thumbBackgroundVertical;
}
.controls input[type="range"]::-moz-range-thumb,
.controls input[type="range"][orient="vertical"]::-moz-range-thumb {
  background: $thumbBackgroundAlt;
}

input[type="range"]::-ms-track {
  height: $trackShortSide;
  width: $trackLongSideVertical;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"][orient="vertical"]::-ms-track {
  width: $trackShortSide;
  height: $trackLongSide;
  background: $trackBackgroundVertical;
}
input[type="range"]::-ms-fill-lower {
  background: $trackBackground;
  border: $trackBorder;
  border-radius: $trackRadius;
  box-shadow: $trackShadow;
}
input[type="range"]::-ms-fill-upper {
  background: $trackBackground;
  border: $trackBorder;
  border-radius: $trackRadius;
  box-shadow: $trackShadow;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: $thumbShadow;
  border: $thumbBorder;
  height: $thumbDiameter;
  width: $thumbDiameter * 2;
  border-radius: $thumbBorderRadius;
  background: $thumbBackground;
  cursor: pointer;
}
input[type="range"][orient="vertical"]::-ms-thumb {
  background: $thumbBackgroundVertical;
}
.controls input[type="range"]::-ms-thumb,
.controls input[type="range"][orient="vertical"]::-ms-thumb {
  background: $thumbBackgroundAlt;
}
input[type="range"]:focus::-ms-fill-lower {
  background: $trackBackground;
}
input[type="range"]:focus::-ms-fill-upper {
  background: $trackBackground;
}
