.logout {
  float: right;
}
button{
  border: 2px solid var(--textColor);
  background: var(--overlay);
  border-radius: 2rem;
  padding: .5rem 1rem;
  color: var(--textColor);
  text-transform: uppercase;
}
button + button{
  margin-left: .5rem;
}
body{
  /* background: linear-gradient(to bottom, #521452 0%, #2f042f 100%); */
  /* //linear-gradient(to bottom, #c7a1c7 0%, #966d96 100%) */
  color: rgba(255,255,255,.8);
  min-height: 100vh;
}

.currentTrack, .playlist{
  max-width: 66rem;
  margin: 1rem auto;
}