@import "../../styles/_variables.scss";

#playlistTracks .playlistTrack {
  display: flex;
}
h3{
  margin: 0;
  font-weight: 300;
}
h4{
  margin: .5rem 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: .875rem;
  font-weight: 600;
}
.PlayListControlsWrap{
  margin-top: 1rem;
  padding: 1rem;
  // border-top: 2px solid var(--textColor);
  border-radius: 0rem;
  // background: var(--themeColor-weakest);
  background: var(--highlight);
  color: var(--themeColor-strongest)
  
}
.PlayListControls{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  // background: var(--highlight);
  > fieldset{
    flex-basis: 25%;
    legend{
      position: relative;
      top: 1rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-size: .875rem;
      font-weight: 600;
      // letter-spacing: .1rem;
    }
    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      background: var(--overlay);
      // background: var(--themeColor-strongest);
      // border: 2px solid var(--themeColor-strongest);
      // margin: 0.5rem auto;
      margin: 0 .5rem 0 0;
      padding: 1rem;
      border-radius: 0.5rem;
      label{
        // color: var(--backgroundColor);
        text-transform: uppercase;
        font-size: 0.75rem;
        // color: var(--themeColor-weakest);
        align-self: flex-start;
      }
    }
    &:first-of-type{
      >div{
        // border-radius: 0.5rem 0.5rem 0 0 ;
      }
    }
    &:last-of-type{
      >div{
        // border-radius: 0 0  0.5rem 0.5rem;
      }
    }
  }
}
.PlayListOptions{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.PlayListsEdit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--highlight);
  padding: 2rem;
  border-radius: 1rem;
  background: var(--overlay);
  .inputWrap{
    flex-basis: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    input[type="text"]{
      border: 2px solid var(--textColor);
      height: 2rem;
      border-radius: .5rem 0 0 .5rem;
      font-weight: normal;
      box-shadow: 0 0 0 1px var(--themeColor) inset;
      // box-shadow: 0 0 35px rgba(0,0,0,.2) inset;
    }
    button{
      white-space: nowrap;
      height: 2rem;
      border-radius: 0 .5rem .5rem 0;
    }
  }
}

.PlayListEdit, .PlayListSelect, .PlayListTracks{
  min-height: 2rem;
  padding: .5rem 0;
}

.PlayListTracks{
  caption{
    padding: .5rem;
    font-size: 2rem;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  thead{
    tr{
      border-top: none;
      th{
        text-transform: uppercase;
        font-size: .75rem;
        text-align: left;
        padding: .25rem;
        opacity: .8;
        letter-spacing: .1rem;
        font-weight: 300;
      }
    }
  }
  tr{
    border-top: 1px solid var(--highlight);
    button{
      bordeR: none;
    }
    @media (hover: hover) {
      &:hover{
        @include variable(background, --highlight, orange);
        // @include variable(color, --backgroundColor, orange);
        cursor: pointer;
      }
    }
  }
  td{
    padding: .25rem;  
  }
}