@import "../../styles/_variables.scss";
.PlayListWrap {
  // border-top: 1px dashed rgba(0,0,0,.2);
  border-top: 1px dashed var(--textColor);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#playlistTracks .playlistTrack {
  display: flex;
}
h3 {
  margin: 0;
  font-weight: 300;
}
h4 {
  margin: 0.5rem 0;
  padding: 0;
  padding-right: 0.5rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}
.PlayListHeader {
  display: flex;
  .PlayListPlay {
    padding-right: 0.5rem;
  }
  .PlayListTitleWrap {
    flex-grow: 1;
    h4 {
      text-align: left;
    }
  }
  .searchButtonWrap {
    justify-self: flex-end;
    padding-left: 0.5rem;
    button {
      white-space: nowrap;
    }
  }
}
.PlayListControlsWrap {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0rem;
  background: var(--themeColor);
  color: var(--themeColor-strongest);
  .closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
.PlayListControls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  // background: var(--highlight);
  > fieldset {
    flex-basis: 25%;
    legend {
      position: relative;
      top: 1rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 600;
      // letter-spacing: .1rem;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0;
      background: var(--overlay);
      // background: var(--themeColor-strongest);
      // border: 2px solid var(--themeColor-strongest);
      // margin: 0.5rem auto;
      margin: 0 0.5rem 0 0;
      padding: 1rem;
      border-radius: 0.5rem;
      label {
        // color: var(--backgroundColor);
        text-transform: uppercase;
        font-size: 0.75rem;
        // color: var(--themeColor-weakest);
        align-self: flex-start;
      }
    }
    &:first-of-type {
      > div {
        // border-radius: 0.5rem 0.5rem 0 0 ;
      }
    }
    &:last-of-type {
      > div {
        // border-radius: 0 0  0.5rem 0.5rem;
      }
    }
  }
}
.PlayListOptions {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.PlayListsEdit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  &.edit {
    // border: 2px solid var(--highlight);
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    // border-radius: 1rem;
    background: var(--themeColor);
    display: block;
    h4 {
      text-align: left;
    }
    .row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0.5rem 0 0;
    }
    label {
      text-transform: uppercase;
      font-size: 0.75rem;
      min-height: 1rem;
      opacity: 0.8;
    }
    button {
      white-space: nowrap;
    }
  }
  .inputWrap {
    // flex-basis: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    // margin: 0 1rem;
    input[type="text"] {
      width: 100%;
      min-width: 200px;
      border: 2px solid var(--textColor);
      height: 2rem;
      border-radius: 2px;
      // border-radius: 0.5rem 0 0 0.5rem;
      font-weight: normal;
      // box-shadow: 0 0 0 1px var(--themeColor) inset;
      // box-shadow: 0 0 35px rgba(0,0,0,.2) inset;
    }
    button {
      white-space: nowrap;
      height: 2rem;
      margin-left: 0.5rem;
      // border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.PlayListEdit,
.PlayListSelect,
.PlayListTracks {
  min-height: 2rem;
  padding: 0.5rem 0;
}
.PlayListSelect {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // width: 200px;
  h4 {
    white-space: nowrap;
  }
  select {
    margin-left: 1rem;
  }
}
.PlayListTracks {
  // background: var(--textColor);
  // color: var(--themeColor-weaker);
  border-radius: 1rem;
  caption {
    padding: 0.5rem;
    font-size: 2rem;
  }
  .subTitle {
    font-size: 0.835rem;
    margin: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    tr {
      border-top: none;
      th {
        text-transform: uppercase;
        font-size: 0.75rem;
        text-align: left;
        padding: 0.25rem;
        opacity: 0.8;
        letter-spacing: 0.1rem;
        font-weight: 300;
      }
    }
  }
  tr {
    border-top: 1px solid var(--highlight);
    > td:first-child {
      padding-left: 0.5rem;
    }
    button {
      border: none;
      // background: var(--highlight);
      svg path {
        // fill: var(--themeColor-weakest);
      }
    }
    @media (hover: hover) {
      &:hover {
        @include variable(background, --highlight, orange);
        // @include variable(color, --backgroundColor, orange);
        cursor: pointer;
      }
    }
  }
  td {
    padding: 0.25rem;
  }
}
