.__draggin-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none; /* get rid of chrome image drag behavior */
}

.rv-xy-plot {
  color: #c3c3c3;
  position: relative;
}

.rv-xy-plot__inner {
  display: block;
  box-sizing: border-box;
}

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
}

.rv-xy-plot__grid-lines__line,
.rv-xy-plot__axis__line,
.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all;
}
