.Following {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    li {
      margin-right: 0.5rem;
    }
  }
}
