@import "./_variables.scss";
@import "./_select.scss";

* {
  box-sizing: border-box;
}
html {
  transition: background .3s ease, color 1s ease;
  @include variable(color, --textColor, orange);
}

// FONTS & TEXT
h1{
  text-align: center;
  span{
    font-weight: 300;
    opacity: .8;;
    display: block;
    font-size: 1.2rem;
  }
}
a{
  color: #fff
}


// FORMS
fieldset{
  // align-items: center;
  // justify-content: center;
  border: none;
  padding: 0;
}
input[type="text"]{
    background: var(--textColor);
    color: var(--themeColor);
    border: none;
    box-shadow: none;
    padding: .25rem 0rem .25rem .5rem;
    font-weight: bold;
    outline: none;
    // border-radius: .25rem;
    min-height: 1.5rem;
    color: var(--backgroundColor);
}
button{
  transform: translateY(0);
  transition: transform .3s ease, background .3s ease, border-color .3s ease;
  outline: none;
  font-weight: bold;
  border-radius: 2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
}

button{
  @media (hover: hover) {
		&:hover{
      @include variable(background, --textColor, orange);
      @include variable(color, --backgroundColor, orange);
      cursor: pointer;
      svg path{
        @include variable(fill, --backgroundColor, orange);
      }
		}
	}
}


// MISC
.authLink{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  a{
    background: var(--themeColor-weakest);
    color: var(--themeColor-strongest);
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 600;
    @media (hover: hover) {
      &:hover{
        @include variable(background, --textColor, orange);
        @include variable(color, --backgroundColor, orange);
      }
    }
  }
}